/* =============================== BASE STYLES ============================== */

a:active  { color: #0000CC; }
a:link { color: #314860; text-decoration: underline } /* #809FBE */
a:visited { color: #4F7499; text-decoration: underline } /* #809FBE */
a:hover { color: #314860; text-decoration: underline }

body { 
	/* font-size: 100%; */
	margin-top: 25px; 
	margin-right: 35px;
	margin-bottom: 35px;
	margin-left: 35px
}

/* Equivalent to NDLNormal */

p {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  margin-right: 0em;
  margin-left: 0em
}

.indent1 {
  margin-left: 35px
}

.indent2 {
  margin-left: 37px
}

span.CodeHighLight {
	background-color: #AEFBFB
}

pre {
	color: Black;
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #F8FAFA;
	border-color: #96BCD6;
	border-style: dashed;
	border-width: 1px;
	padding: 10px
}

td > pre {
	font-size: 8pt;
	margin: 0;
	background-color: #FFFFFF;
	border: none;
	padding: 0
}

/* div.ContentContainer {
	margin-top: 0px; 
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 0px;
	background-color: white;
	padding: 25px
} */

li {
	margin-top: 6pt;
	margin-right: 0pt;
	margin-bottom: 6pt;
	margin-left: 0pt
}

ol {
	color: Black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 82%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 35px;
	padding: 0;
	text-decoration: none;
	text-indent: 0em;
	text-transform: none
}

ul {
	color: Black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 82%;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 35px;
	padding: 0;
	list-style-type: disc
}

/* font-size 100% fixes font size inheritance problems in nested lists */

ul ul { font-size: 100%; list-style-type: circle }

ul ul ul { font-size: 100%; list-style-type: square }

ol ol { font-size: 100%; list-style-type: lower-alpha }

ol ol ol { font-size: 100%; list-style-type: lower-roman }

ol ul { font-size: 100%; list-style-type: circle }

ol ol ul { font-size: 100%; list-style-type: square }

ul>li p.indent1 { font-size: 100%; margin-left: 0px }

ul>li p.indent2 { font-size: 100%; margin-left: 0px }

ol>li p.indent1 { font-size: 100%; margin-left: 0px }

ol>li p.indent2 { font-size: 100%; margin-left: 0px }

td ul { font-size: 100% }

td ol { font-size: 100% }

ol.nested { font-size: 100%; list-style-type: lower-alpha }

ul.nested { font-size: 100%; list-style-type: circle }

ol.ul.nested { font-size: 100%; list-style-type: disc }

dl {
	color: Black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 82%;
}

dt {
	font-weight: bold;
}

dd {
	font-weight: normal;
	margin-top: 6pt;
	margin-right: 0pt;
	margin-bottom: 6pt;
	margin-left: 25pt

}

table {
width: 100%;
border-style: solid;
border-width: 1px;
border-color: #000000;
border-collapse: collapse;
margin-bottom: 1.25em
}

thead {
  background-color: #CDDFEB
}

tfoot {
  background-color: #E8F0F7
}

th {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 70%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none;
  vertical-align: top;
  border: solid #000000 1px;
  padding: 5px
 }

/* td { padding: 5px } */

td {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 70%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none;
  vertical-align: top;
  border: solid #000000 1px;
  padding: 5px
}

td.ColSpan {
  background-color: #F5F5F5
}

div.FigureContainer {
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px
}

p.FigureCaption {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 70%;
  font-style: italic
  }

div.NDLFigureContainer {
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px
}

div.NDLFigureContainerIndent1 {
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
    margin-left: 35px
}

div.NDLFigureContainerIndent2 {
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
    margin-left: 37px
}

/* ======================== BODY (PARAGRAPH-LEVEL) STYLES ==================== */

.NDLFigureCaption {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 70%;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this class to style normal body text inside your file. Typically, this is
/* the paragraph-level class that you use most throughout the <BODY> section */
/* of your file. */

/* Usage: <p class="NDLNormal">Your normal body text goes here.</p> */

/* See "NDLNormal snippet" in your template or stubbed-in file */

.NDLNormal {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this class to style text that appears between first-level bulleted or */
/* numbered list items. */

/* Usage: <p class="NDLNormalIndent1">The text that you're inserting between */
/* first-level bulleted or numbered list items goes here.</p> */

/* See "NDLNormalIndent1 snippet" in your template or stubbed-in file */

.NDLNormalIndent1 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 35px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this class to style text that appears between second-level nested */
/* bulleted or numbered list items. */

/* Usage: <p class="NDLNormalIndent2">The text that you're inserting between */
/* second-level bulleted or numbered list items goes here.</p> */

/* See "NDLNormalIndent2 snippet" in your template or stubbed-in file */

.NDLNormalIndent2 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 37px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this paragraph-level class to style text within notes, tips, */
/* or warnings. */

/* Usage: <p class="NDLNote">The text that you want to appear within */
/* a note, tip, or warning goes here.</p> */

/* See "NDLNote snippet" in your template or stubbed-in file */

.NDLNote {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 105%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-right: 0em;
  margin-left: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* ===================== INLINE (SENTENCE-LEVEL) STYLES ===================== */

/* Use this class in conjunction with <span> to apply an italic font face */
/* to inline text. You will apply this class when you refer to the title of */
/* a documentation deliverable. */

/* Usage: <p class="NDLNormal">Your normal body text goes here, but while you're */
/* typing, you need to call attention to the <span class="NDLDocTitle">Ttitle of */
/* a Documentation Deliverable</span>.</p> */

/* See "NDLDocTitle snippet" in your template or stubbed-in file */

.NDLDocTitle {
	font-style: italic
}

/* Use this class in conjunction with <span> to apply an italic font face */
/* to inline text. You will apply this class to words that you want to emphasize */
/* within sentences or table cells. For example, use this class if you want */
/* to emphasize the first mention of an especially important word or phrase */
/* within a conceptual topic. */

/* Usage: <p class="NDLNormal">Your normal body text goes here, but while you're */
/* typing, you need to emphasize a <span class="NDLEmphasis">very important */
/* term</span>.</p> */

/* See "NDLEmphasis snippet" in your template or stubbed-in file */

.NDLEmphasis {
	font-style: italic
}

/* Use this class in conjunction with <span> to apply a bold font face */
/* to inline text. You will apply this class to when you refer to field/control */
/* labels, menus, or menu items in a product GUI. */

/* Usage: <p class="NDLNormal">To print the document, click */
/* <span class="NDLGUILabel">File > Print.</span>.</p> */

/* See "NDLGUILabel snippet" in your template or stubbed-in file */

.NDLGUILabel {
  font-weight: bold
}

/* Use this class in conjunction with <span> to apply a monospaced font face */
/* to inline text. You will apply this class to text within sentences or table */
/* cells when you reference a type. For example, use this class if you refer to */
/* a function name like NiFastSqrt or a class name such as NiAVObject. */
/* This kind of class is commonly referred to as an inline style. */

/* Usage: <p class="NDLNormal">Your normal body text goes here, but while you're */
/* typing, you need to call attention to a */
/* <span class="NDLSystemFont">ClassName</span>.</p> */

/* See "NDLSystemFont snippet" in your template or stubbed-in file */

.NDLSystemFont {
	font-family: "Courier New", monospace;
	font-size: 10pt
}

/* Partial solution for IE word break issues (good discussion here: 
http://www.cs.tut.fi/~jkorpela/html/nobr.html). This provides a slightly more elegant
solution for how IE breaks lines when we have a line of text that starts with a special
character such as a percent sign that is contained within an <em> that is itself within
<span class="NDLSystemFont">. Without the fix, leading percent signs will be orphaned.
With the fix, we at least avoid the orphan, though the line break is still a little
less than perfect in IE. FF does not seem to have issues with breaking
on special characters. So, in sum, this is an IE-specific semi-fix for a common
construction in our documentation. :o)
*/

span.NDLSystemFont > em {
	white-space: nowrap
}

/* Use this class in conjunction with <span> to apply a bold font face */
/* to the word "Note", "Tip", or "Warning" at the beginning of notes, */
/* tips, or warnings WITHIN TABLE CELLS (cf NDLHeadingNoteContainer, */
/* which is an analogous paragraph-level class */

/* Usage: <div class="TDNote"><span  class="NDLTableNote">Note:</span> */
/* This is a note inside a table cell</div> */

/* See "NDLTableNote snippet" in your template or stubbed-in file */

.NDLTableNote {
	font-weight: bold;
}

/* ============================== HEADING STYLES ============================ */

H1 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 130%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none;
  border-bottom: solid #96BCD6 thin
}

H2 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 110%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

H3 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

H4 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 2em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;

  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this class to style the word "Note", "Tip", or "Warning" at the top */
/* of notes, tips, or warnings. */

/* Usage: <p class="NDLHeadingNoteContainer">Note, Tip, or Warning</p> */

/* See "NDLHeadingNoteContainer snippet" in your template or stubbed-in file */

.NDLHeadingNoteContainer {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 105%;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-right: 0em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this class to style "To do thus and such" headings that introduce */
/* the steps in a procedure. */

/* Usage: <p class="NDLHeadingProcedure">To do whatever is described in */
/* the procedure that follows</p> */

/* See "NDLHeadingProcedure snippet" in your template or stubbed-in file */

.NDLHeadingProcedure {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* Use this class to style the words "Related topics" that introduce a list of */
/* links at the bottom of your topic. */

/* Usage: <p class="NDLHeadingRelatedTopic">Related topics */

/* See "NDLHeadingRelatedTopic snippet" in your template or stubbed-in file */

.NDLHeadingRelatedTopic {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 2em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;

  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* =============================== TABLE STYLES ============================== */

TABLE.AllLines {
	border: solid #000000 .25pt
}

/* Use this class to create a table that contains note, tip, or warning text. */

/* Usage: <table class="NDLNoteContainer"></table> */

/* See "NDLNoteContainer snippet" in your template or stubbed-in file */

.NDLNoteContainer {
   background-color: #FFFFF4;
   border-color: #CAC991;
   border-style: dashed;
   border-width: 1px;
   padding-top: 0px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px
}

TD.NDLNoteContainerTD {
	border: none
}

/* Use this div class to contain tables on auto-generated reference pages. */

DIV.ReferenceTable {
	margin-top: 1em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 1.75em
}

/* Use this class to create a note, tip, or warning inside a table cell. */

/* Usage: <div class="NDLTDNote">Text inside a table heading cell</div> */

/* See "3-column table snippet" in your template or stubbed-in file */

div.NDLTDNote {
	margin-top: 5px;   
	margin-bottom: 5px;   
	border-top: dotted #CAC991 1px;
	border-bottom: dotted #CAC991 1px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px
}

/* =========================== OTHER LEGACY STYLES ================================ */

/* For the most part, these classes are used in legacy Gamebryo and Tools docs, inc. */
/* the class reference docs that are *not* generated* thru doxygen. As we port to */
/* doxygen, many/most/all? of these classes will go the way of the dodo. */

/* 0 files found */

.NDLFunctionHeading {
	margin-top: 6.0pt;
	margin-right: 0in;
	margin-bottom: 6.0pt;
	margin-left: 0.25in;
	text-indent: -.25in;
	font-family: "Courier New", monospace;
	font-size: 12.0pt;
	font-weight: bold;
}

/* 134 files found */

.NDLCenter {
	margin-top: 3.0pt;
	margin-right: 0in;
	margin-bottom: 3.0pt;
	margin-left: 0in;
	font-family: Arial;
	font-size: 10.0pt;
	font-weight: bold;
	text-align: center;
}

/* 1251 files found */

.NDLRefHead1 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 1em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* 249 files found */

.NDLRefHead2 {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 1em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* 1186 files found */

.NDLRefHeadClassTitle {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 130%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none;
  border-bottom: solid #96BCD6 thin
}

/* 1029 files found */

.NDLRefParentage {
  color: Black;
  font-family: "Courier New", monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* 1178 files found */

.NDLRefHeaderFile {
  color: Black;
  font-family: "Courier New", monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/* 1072 files found */

.NDLRefMemberFunction {
  color: Black;
  font-family: "Courier New", monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -2em; 
  text-align: left;
  text-decoration: none;
  text-transform: none;
  padding-top: 1em;
  border-style: dashed none none none;
  border-width: 1px;
  border-color: #96BCD6;
}

/* 1048 files found */ 

.NDLRefMemberDescription {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 2em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

/*  previous values */

 /* margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 12.0pt;
	margin-left: .25in;
	font-family: Arial;
	font-size: 10.0pt; 
}
*/


/* 0 files found */

.NDLRefMemberParameter {
	font-size: 10pt;
	font-family: Arial, sans-serif;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 0.75in;
	text-indent: -0.25in;
}

/* 0 files found */

.NDLRefMemberReturn {
	font-size: 10pt;
	font-family: Arial, sans-serif;
	margin-top: 6pt;
	margin-bottom: 12pt;
	margin-left: 0.75in;
	text-indent: -0.25in;
}

/* 209 files found */

.NDLRefMemberDetailedDescription {
  color: Black;
  font-family: Verdana, Arial, Helvetica;
  font-size: 82%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 2em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none

/*  previous values */

/*	margin-top: 0pt;
	margin-bottom: 12pt;
	margin-left: 0.5in;
	font-size: 10pt;
	font-family: Arial, sans-serif; */
}

/* ===================== ADJACENT STYLES (COPYFITTING) ====================== */

pre + Table.NDLNoteContainer {
	margin-top: 1em
}

pre + H2 {
	margin-top: 2em
} 

pre + H3 {
	margin-top: 2em
} 

Table.NDLNoteContainer + UL {
	margin-top: 1.5em
}

Table.NDLNoteContainer + OL {
	margin-top: 1.5em
}

pre + Table.NDLNoteContainer {
	margin-top: 1em
}

pre + H2 {
	margin-top: 2em
} 


pre + H3 {
	margin-top: 2em
} 

H4 + TABLE {
	margin-top: 1em
}