* {margin:0;padding:0;}

body
{
margin-top: 55px;
background-color: #CDDFEB
}

a:active  { color: #000000; text-decoration: none }
a:link { color: #000000; text-decoration: none }
a:visited { color: #000000; text-decoration: none}
a:hover { color: #314860; text-decoration: underline}



/* Based on http://css.maxdesign.com.au/listamatic/horizontal05.htm */

#navcontainer
{
margin-top:2em
/* margin-bottom:2em */
}

#navlist
{
padding: 3px 0;
margin-right: 35px;
margin-left: 10px;
border-bottom: 1px solid #777788;
font: bold 12px Verdana, sans-serif
}

#navlist li
{
list-style: none;
margin: 0;
display: inline
}

#navlist li a
{
padding: 3px .75em;
margin-left: 5px;
border: 1px solid #777788;
border-bottom: none;
background-color: #CDDFEB;
text-decoration: none
}

#navlist li a:link { color: #000000; }
#navlist li a:visited { color: #000000; }

#navlist li a:hover
{
color: #000000;
background-color: #DCE9F1;
border-color: #227
}

#navlist li a#current
{
background-color: #FFFFFF;
border-bottom: 1px solid white
}

.contentbox
{
position:relative;
bottom:6px;
right: 6px;
/* border: 1px solid #000000; */
padding:10px;
margin: 0px 20px 0px 20px
}

.contentbox p
{		
font-family: Verdana, Arial, Helvetica;
font-size: 70%;
font-style: normal;
padding-top: 25px;
padding-bottom: 10px
}

p.description
{
border-bottom: solid #CAC991 thin;
padding-top: 10px;
padding-bottom: 10px;
}

p.last
{
padding-top: 10px;
padding-bottom: 10px
}

#wrapper
{
width: 865px;
height: 600px;
margin: 0px auto -1px auto;
border: 1px solid #000000;
background-color: #FFFFFF
}

.contentbox H1
{
font-family: Verdana, Arial, Helvetica;
font-size: 85%;
font-style: normal;
font-variant: normal;
font-weight: bold;
padding-top: 10px;
margin-top: 0em;
margin-right: 0em;
margin-bottom: 0em
}